:root {
  --main: #3996FF;
  --bg: #1a1e23;
  --lightbg: #2a2f35;

  --btn-color--primary: rgba(57, 150, 255, 1);
  --btn-shadow: rgba(57, 150, 255, 0.5);
  --btn-color--success: rgba(0, 208, 0, 1);
  --btn-color--danger: rgb(208, 0, 0, 1);
  --btn-shadow--danger: rgb(208, 0, 0, 0.5);
  --btn-shadow--success: rgba(0, 208, 0, 0.5);
  --btn-shine: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(250, 198, 100, 0.27) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

::selection {
  background-color: transparent;
  text-shadow: 0 0 5px var(--btn-shadow);
}

body {
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
  color: #fff;
  background-color: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  scrollbar-width: none;
}
.modal-body::-webkit-scrollbar,
.fixTableHead::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.btn {
  border-radius: 0 !important;
  padding: 10px 20px;
}

#register-link{
  z-index: 20;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(195, 255, 85);
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
#register-link:hover{
  color: var(--btn-color--success);
}

.btn-game {
  padding: 10px 25px;
  background: var(--btn-shine), var(--btn-color--primary);
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.fixTableHead {
  overflow-y: auto;
  height: 60vh;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
}

/* NAVBAR STYLING */
.nav-link {
  font-weight: 600;
}

/* MAIN PAGE STYLING */

.main-container {
  width: 100%;
  height: 90vh;
}

.main-container h1 {
  margin: 0;
  /* padding-bottom: 6rem; */
  font-weight: 700;
  font-family: 'Teko', sans-serif;
  font-size: 7rem;
  animation: shine 2s ease-in-out infinite alternate;
}
.main-container h4 {
  padding-bottom: 2rem;
  font-weight: 400;
  font-family: 'Teko', sans-serif;
  font-size: 3rem;
  letter-spacing: .2rem;
  text-shadow: 0 0 0.1rem #FFF, 0 0 0.5rem #67ff20;
  text-shadow: 0 0 0.1rem #FFF, 0 0 1rem #ff2483;
}

@keyframes shine {
  0% {
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

.main-container .container .display-name {
  font-weight: 600;
  font-size: 2rem;
}
.main-container .container .display-name span {
  color: var(--btn-color--success);
  color: #fff;
  text-shadow: 0 0 10px #ff2483;
}

.main-container .startTimer #started {
  color: var(--btn-color--success);
}
.main-container .startTimer #ended {
  color: var(--btn-color--danger);
}

.main-container .startTimer .starting {
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 400px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.starting .ctimer .timer-item {
  width: 120px;
  height: 100px;
  margin: 0 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgba(42, 47, 53, 0.6);
}
.starting .ctimer .timer-item:first-child {
  margin-left: 0;
}
.starting .ctimer .timer-item:last-child {
  margin-right: 0;
}
.starting .ctimer .timer-item .timer-item-number {
  margin-bottom: 5px;
}

#ready{
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
#ready .ml4 {
  width: 20%;
  height: 20%;
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}
#ready .ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}

.cred-box{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.cred-box .cred-box-body{
  width: 100%;
}
.cred-box .cred-box-body form input:disabled{
  cursor: text;
}
.cred-box .cred-box-body .form-label{
  margin-top: 20px;
  display: flex;
  align-self: flex-start;
}

/* RULES STYLING */

.rules li {
  line-height: 30px;
  list-style: none;
  text-align: justify;
  text-transform: none;
}

.rules li::before {
  content: "\2022";
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.rules .imp {
  color: var(--btn-color--success);
  font-weight: 600;
  text-decoration: none;
}
.rules .error {
  color: var(--btn-color--danger);
  font-weight: 600;
  text-decoration: none;
}

/* ALERT STYLING */

.alert {
  position: fixed;
  right: 10px;
  bottom: 5px;
}

/* BUY PAGE STYLING */

.timer {
  background-color: rgba(0, 0, 0, 1);
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  z-index: 1;
}

.modal-box {
  height: 75vh;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.modal-box .container {
  background-color: rgba(0, 0, 0, 0.5);
  height: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-check-label{
  cursor: pointer;
}

.acces-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  place-items: center;
}

.acces-box{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.acces-box input[type="radio"]{
  width: 25px;
  height: 25px;
}

.acces-box .text{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

/* LOGIN STYLING */

.login-dark {
  height: 90vh;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 40px;
  background-color: rgba(30, 40, 51, .85);
  background-color: rgba(0, 0, 0, .5);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: rgba(41, 128, 239, .75);
  color: rgba(33, 74, 128, 1);
}

.login-dark form .form-control {
  background: none;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #68727e;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: rgba(33, 74, 128, 1);
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: none;
  margin-top: 30px;
  outline: none;
  text-transform: uppercase;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
  background: rgba(33, 74, 128, 0.85);
}

/* PROFILE PAGE STYLING */

.star-amount {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
  place-items: center;
  justify-items: center;
}
.star-amount .left,
.star-amount .mid,
.star-amount .right {
  width: 85%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: var(--lightbg);
}

.cars-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
  place-items: center;
  margin-top: 20px;
}
.cars-list .car {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 25rem;
  height: 100%;
  border-radius: 10px;
  background-color: var(--lightbg);
}

.cars-list .car .car-image {
  width: 100%;
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.1s ease-in-out;
}
.cars-list .car .car-image img {
  width: 100%;
  height: 100%;
  height: auto;
  background-color: var(--main);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cars-list .car .car-desc {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 200px;
  padding: 20px;
}
.cars-list .car .car-desc h3,
.cars-list .car .car-desc b,
.cars-list .car .car-desc span {
  font-family: sans-serif;
}
.cars-list .car .car-desc .descp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cars-list .car .car-desc .descp div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn-buy{
  background-color: var(--btn-color--success);
}
.btn-sell{
  background-color: var(--btn-color--danger);
}

/* FINISH PAGE STYLING */

.u-btn:hover {
  opacity: 0.9;
}
.u-btn.u-btn--success {
  background: var(--btn-color--success);
  box-shadow: 0 10px 50px 0 var(--btn-shadow--success);
}
.u-btn.u-btn--danger {
  background: var(--btn-color--danger);
  box-shadow: 0 5px 40px 0 var(--btn-shadow--danger);
}

.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--congratulations {
  padding: 20px 30px;
  max-width: 500px;
  overflow: hidden;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.modal-head {
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
}

.modal-subheader {
  margin: 10px auto;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1.25px;
  text-align: center;
  color: #999;
}

.modal-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 30px;
}

.u-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* FOOTER STYLING */

.footer .container ul .social-list {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d6efd;
}

.footer .container ul .social-list .fab {
  color: #fff;
}

/* RESPONSIVENESS */

@media screen and (max-width: 990px) {
  .main-container h1 {
    font-size: 5rem;
  }
  .main-container .startTimer .starting {
    padding: 15px;
    width: 100%;
  }
  .main-container .startTimer .starting .timer .timer-item {
    width: 100px;
    margin: 0 10px;
  }
  .listing form, .list-selling{
    flex-direction: column;
    justify-content: center !important;
  }
  .listing form .btn{
    width: 100% !important;
    margin: 20px 0;
  }
  .list-selling .sell{
    border: none !important;
  }
}

@media screen and (max-width: 767px) {
  .main-container .startTimer .starting {
    display: none !important;
  }
  .listing form, .list-selling{
    flex-direction: column;
    justify-content: center !important;
  }
  .listing form .btn{
    width: 100% !important;
    margin: 20px 0;
  }
  .list-selling .sell{
    border: none !important;
  }
}